In [1]:
import pandas as pd

In [3]:
df= pd.read_csv("city_temperature.csv")

In [4]:
df.describe()

       State          Month            Day           Year  AvgTemperature
count    0.0  469311.000000  469311.000000  469311.000000   469311.000000
mean     NaN       6.472324      15.717810    2006.490385       56.783747
std      NaN       3.457486       8.801113      29.304038       48.723379
min      NaN       1.000000       0.000000     201.000000      -99.000000
25%      NaN       3.000000       8.000000    2001.000000       58.900000
50%      NaN       6.000000      16.000000    2007.000000       74.000000
75%      NaN       9.000000      23.000000    2013.000000       81.200000
max      NaN      12.000000      31.000000    2020.000000      103.700000

In [5]:
df.head(3)

   Region  Country  State     City  Month  Day  Year  AvgTemperature
0  Africa  Algeria    NaN  Algiers      1    1  1995            64.2
1  Africa  Algeria    NaN  Algiers      1    2  1995            49.4
2  Africa  Algeria    NaN  Algiers      1    3  1995            48.8

In [6]:
df.tail(3)

       Region   Country  State     City  Month  Day  Year  AvgTemperature
469308   Asia  Pakistan    NaN  Karachi     12    1  1995            59.3
469309   Asia  Pakistan    NaN  Karachi     12    2  1995            66.2
469310   Asia  Pakistan    NaN  Karachi     12    3  1995            66.0

In [7]:
random.loc[:, ['Region','Country']]

NameError: name 'random' is not defined

In [8]:
random = pd.DataFrame(np.random.randn(60,4), index=dates, columns=list('RegionCountryStateCityMonthDayYearAvgTemperature'))

NameError: name 'np' is not defined

In [9]:
type(dates)

NameError: name 'dates' is not defined

In [10]:
pandas_dates = pd.DataFrame({'dates_column':dates})

NameError: name 'dates' is not defined

In [11]:
df2.dtypes

NameError: name 'df2' is not defined

In [12]:
dates = pd.date_range('469308', periods=60)
dates

ValueError: could not convert string to Timestamp

In [13]:
df.loc[df['AvgTemperature'].idxmax()]

Region             Asia
Country           India
State               NaN
City              Delhi
Month                 5
Day                  28
Year               1998
AvgTemperature    103.7
Name: 341564, dtype: object

In [14]:
df.Country.unique()

array(['Algeria', 'Burundi', 'Benin', 'Central African Republic', 'Congo',
       'Egypt', 'Ethiopia', 'Gabon', 'Gambia', 'Guinea', 'Guinea-Bissau',
       'Ivory Coast', 'Kenya', 'Morocco', 'Madagascar', 'Mauritania',
       'Malawi', 'Mozambique', 'Namibia', 'Nigeria', 'Senegal',
       'Sierra Leone', 'South Africa', 'Togo', 'Tunisia', 'Tanzania',
       'Uganda', 'Zambia', 'Bangladesh', 'China', 'Hong Kong', 'India',
       'Indonesia', 'Japan', 'Kazakhstan', 'Kyrgyzstan', 'Laos',
       'Malaysia', 'Mongolia', 'Myanmar (Burma)', 'Nepal', 'North Korea',
       'Pakistan'], dtype=object)

In [15]:
df.Country.value_counts()

China                       46329
India                       37063
Japan                       27798
Nigeria                     17164
Pakistan                     9602
Tanzania                     9296
Mozambique                   9296
Ethiopia                     9295
Laos                         9266
Mongolia                     9266
Madagascar                   9266
Tunisia                      9266
Togo                         9266
South Africa                 9266
Ivory Coast                  9266
Myanmar (Burma)              9266
Morocco                      9266
Guinea-Bissau                9266
Senegal                      9266
Algeria                      9266
Guinea                       9266
Benin                        9266
Egypt                        9266
Malaysia                     9266
Hong Kong                    9266
North Korea                  9266
Namibia                      9266
Central African Republic     9266
Uganda                       9265
Indonesia                    9265
Congo                        9265
Nepal                        9265
Kazakhstan                   9265
Gabon                        9264
Gambia                       8536
Mauritania                   8406
Kenya                        8200
Kyrgyzstan                   8200
Zambia                       6962
Sierra Leone                 6209
Bangladesh                   5810
Malawi                       5693
Burundi                      4543
Name: Country, dtype: int64